@media(max-width: 768px){
    body{
        margin: 0;
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: calc(100%);
    }
    .slideshow{
        width: inherit;
        height: calc(250px);
    }
    
}
@media(min-width: 769px){
    body{
        margin: 0;
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: calc(100%);
    }
    .slideshow{
        width: inherit;
        height: calc(450px);
    }
    
   
}
.row{
    padding-top: 10px;padding-bottom: 10px;
}
.mynews{
    height:300px;overflow: hidden;border:1px solid black;border-radius: 0;padding: 2px;
}


.jumbotron{
    background: transparent;
}
#sidenavigation{
    border-right: 1px solid black;
}
#headersection{ 
    border-bottom: 1px solid black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#contactsection{
    background-image: url(../images/background.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#welcome{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 2s;
}
#welcome:hover{
    opacity: 0;
}
#mainsection{
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#photogallery{
    background-image: url(../images/mtain.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.fa{
    color: white;
    transition: color 1s;
}
.fa:hover{
    color: dodgerblue;
}